@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  background-color: #47555E;
}

/*-------------Page index----------*/
.title {
  background-image: url("./photo/photo-accueil.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title a {
  color: rgb(200, 200, 200);
  font-family: "Alex Brush", sans-serif;
  text-decoration: none;
  font-size: 6em;
}
.title a:hover {
  color: white;
  cursor: pointer;
}

/*--------------Page Galerie------------------*/
.galery-page {
  background: #47555E;
}

.navbar {
  background: #47555E;
  border-bottom: 1px solid white;
}

.logo-charles img {
  width: 200px;
}

.logo-network {
  display: flex;
  flex-direction: row;
}

.list-menu {
  padding: 35px;
  font-family: "Alex Brush", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: rgb(221, 221, 221);
}
.list-menu:hover {
  color: white;
}

.dropdown {
  display: none;
}

#filters {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  font-family: "Alex Brush", sans-serif;
}

#filters div {
  cursor: pointer;
  color: rgb(200, 200, 200);
}
#filters div:hover {
  color: white;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.img-galery {
  width: 30%;
  margin: 10px;
}

.active {
  padding: 5px;
  transition: width 0.5s;
}

.inactive {
  width: 0;
  padding: 0;
  transition: width 0.5s;
}

/*-----------------Page Tarifs-------------------*/
.tarif {
  padding-top: 100px;
  background: #47555E;
  color: black;
  font-weight: bold;
  font-family: "Alex Brush", sans-serif;
  font-size: 3em;
  padding-left: 40px;
  padding-right: 40px;
}

.text-left-tarif {
  background: grey;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 100px;
  position: absolute;
  right: 40%;
  opacity: 0.8;
}

.img-left, .img-right {
  border-radius: 25px;
}

.tarif-left {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 100px;
}

.tarif-left, .tarif-right {
  padding-top: 100px;
}

.tarif-right {
  position: relative;
  display: flex;
  justify-content: start;
  padding-left: 100px;
}

.text-right {
  background: grey;
  width: 600px;
  height: 200px;
  text-align: center;
  border-radius: 50px;
  margin-top: 100px;
  position: absolute;
  left: 40%;
  opacity: 0.8;
}

.text-right-family {
  height: auto;
}

.text-right p, .text-left p {
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.text-left {
  background: grey;
  width: 600px;
  height: 200px;
  text-align: center;
  border-radius: 50px;
  margin-top: 100px;
  position: absolute;
  right: 40%;
  opacity: 0.8;
}

.footer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.back-to-top a {
  padding: 5px;
  background: gray;
  border-radius: 30px;
  height: 35px;
  color: rgb(200, 200, 200);
  font-size: 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.back-to-top a:hover {
  color: white;
}

/*-------------Page contact-----------*/
.container-form {
  display: flex;
  justify-content: center;
  background: #47555E;
  padding-top: 100px;
}

.form {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding-top: 10px;
}

form label {
  padding-top: 10px;
}

form button {
  margin-top: 15px;
}

/*-------------------Responsive-------------------*/
@media screen and (max-width: 1200px) {
  .title a {
    font-size: 4em;
  }
}
@media screen and (max-width: 1024px) {
  .list-menu {
    font-size: 1.5em;
    padding: 25px;
  }
  .img-left, .img-right {
    width: 500px;
  }
  .text-left-tarif, .text-left, .text-right {
    width: 400px;
    height: auto;
  }
  .text-left p, .text-right p, .text-left-tarif p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 900px) {
  .title a {
    font-size: 3em;
  }
  .title {
    background-position: center;
  }
  .logo-charles img {
    width: 150px;
  }
  .img-left, .img-right {
    width: 400px;
  }
  .text-left-tarif, .text-left, .text-right {
    width: 300px;
    height: auto;
    font-size: 2rem;
  }
  .text-left p, .text-right p, .text-left-tarif p {
    font-size: 1rem;
  }
  .tarif-left, .tarif-right {
    padding-top: 50px;
  }
  .img-galery.active {
    width: 50%;
  }
  .galery {
    display: flex;
    flex-direction: column;
  }
  .img-galery.inactive {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .list-menu {
    display: none;
  }
  .dropdown {
    display: block;
    right: 10%;
    color: white;
  }
  .hamburger {
    color: white;
  }
  .img-left, .img-right {
    width: 350px;
  }
  .text-left-tarif, .text-left, .text-right {
    width: 250px;
    height: auto;
  }
  .text-left p, .text-right p, .text-left-tarif p {
    font-size: 0.8rem;
  }
  .tarif {
    padding-top: 50px;
  }
}
@media screen and (max-width: 680px) {
  .title a {
    font-size: 2em;
  }
}
@media screen and (max-width: 530px) {
  .img-left, .img-right {
    width: 250px;
  }
  .text-left-tarif, .text-left, .text-right {
    width: auto;
    height: auto;
    border-radius: 10px;
  }
  .text-left p, .text-right p, .text-left-tarif p {
    font-size: 0.5rem;
    flex-wrap: wrap;
  }
  .tarif {
    padding-top: 25px;
  }
  .footer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .img-left, .img-right {
    width: 200px;
  }
  .text-left-tarif, .text-left, .text-right {
    width: auto;
    height: auto;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  .text-left p, .text-right p, .text-left-tarif p {
    font-size: 0.5rem;
    flex-wrap: wrap;
  }
  .tarif {
    padding-top: 15px;
  }
  .tarif-left, .tarif-right {
    padding-top: 100px;
  }
  .footer {
    padding-top: 100px;
  }
}/*# sourceMappingURL=style.css.map */