@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
$mygray:#47555E;
$mypink:#d1c1c1;
$myfontfamily:'Alex Brush', sans-serif;

html{
  background-color: $mygray;
}

/*-------------Page index----------*/

.title{
    margin:0;
    background-image: url("./photo/photo-accueil.png");
    background-size: cover;
    background-repeat:no-repeat ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title a{    
    color: rgb(200,200,200);
    font-family: $myfontfamily;
    font-size: 6em;
    text-decoration: none;
        &:hover{
            color: white;
            cursor: pointer;
        }
}

/*--------------Page Galerie------------------*/


.galery-page{
    background: $mygray
}

.navbar{
    background: $mygray;
    border-bottom: 1px solid white;
}

.logo-charles img{
    width: 200px;
}

.logo-network{
    display: flex;
    flex-direction: row;
}

.list-menu{
    padding: 35px;
    font-family: $myfontfamily;
    font-size: 2em;
    text-decoration: none;
    color: rgb(221, 221, 221);
    &:hover{
        color: white;
    }
}

#filters{
    padding-top: 50px;
    text-align: center;
    font-size: 1.5em;
    font-family: $myfontfamily;
}

#filters div{
    cursor: pointer;
    color: rgb(200,200,200);
        &:hover{
            color: white;
        }
}

.galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-galery{
    width: 30%;
    margin: 10px; 
}

.active{ 
    padding: 5px;
    transition: width 0.5s;
}

.inactive{
    width: 0;
    padding: 0;
    transition: width 0.5s;
}

/*-----------------Page Tarifs-------------------*/

.tarif{
    padding-top: 100px;
    background: $mygray;
    color: black;
    font-weight: bold;
    font-family: $myfontfamily;
    font-size: 3em;
}

.text-left-tarif{
   background: grey;
   width: 500px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   margin-top: 100px;
   position: absolute;
   right: 40%;
   opacity: 0.8;
}

.img-left,.img-right{
    border-radius: 25px;
}

.tarif-left{
    position: relative;
    display: flex;
    justify-content: end;
    padding-right: 100px;
}

.tarif-left, .tarif-right{
    padding-top: 100px ;
}

.tarif-right{
    position: relative;
    display: flex;
    justify-content: start;
    padding-left: 100px;
}

.text-right{
   background: grey;
   width: 600px;
   height: 200px;
   text-align: center;
   border-radius: 50px;
   margin-top: 100px;
   position: absolute;
   left: 40%;
   opacity: 0.8;
}

.text-right-family{
    height: auto;
}

.text-right p, .text-left p{
    color: white;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.text-left{
   background: grey;
   width: 600px;
   height: 200px;
   text-align: center;
   border-radius: 50px;
   margin-top: 100px;
   position: absolute;
   right: 40%;
   opacity: 0.8;
}

.footer{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.back-to-top a{
    padding: 5px;
    background: gray;
    border-radius: 30px;
    height: 35px;
    color: rgb(200,200,200);
    &:hover{
        color: white;
    }
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

/*-------------Page contact-----------*/

.container-form{
   display: flex;
   justify-content: center;
   background: $mygray;
   padding-top: 100px;
}

.form{
    background: white;
    padding: 25px;
    border-radius: 15px;  
    width: 300px; 
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    padding-top: 10px;
}

form label{
    padding-top: 10px;
}

form button{
    margin-top: 15px;
}